
// Website Colors
// ==============

// Main colors
$primary-color: red;
$secondary-color: blue;
$tertiary-color: #ffbb28;

// Text
$headings-color: #344d56;
$text-color: #6c6f72;

// Backgrounds
$background-1: #eaedee;
$background-2: #d6dbdc;
$border-color: #EAEAEA;

// Overlay
$overlay: rgba(52,77,86, 0.45);

// Simple colors
$light-grey: #b0b2b5;
$white: #ffffff;