// ==================
// === STYLEGUIDE ===
// ==================
// Index:
// 0 - Global settins
// 1 - Text & Headings
// 2 - Buttons
// 3 - Links
// 4 - Lists
// 5 - Blockquote
// 6 - Forms
// 7 - Images
// 8 - Tables
// 9 - Videos
// 10 - Sidebar
// 11 - Blocks
// ==================


// 0 - Global Settings
// ======================

// Layout
// =======
$sidebar-width: 180px;
$sidebar-margin: 48px;

$blocks-padding-small: 20px;
$blocks-padding-medium: 30px;


h1, h2, h3, h4, h5, h6,
.heading--h1, 
.heading--h2,
.heading--h3,
.heading--h4,
.heading--h5,
.heading--h6 {
	color: $headings-color;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	margin-bottom: $headings-margin-bottom;

	@include breakpoint( small down ) {
		margin-bottom: 0.6rem;
	}
}

h1,
.heading--h1 {
	font-size: 2.8125rem;
	@include breakpoint(small down) {
		font-size: rem-calc(24);
	}
}

h2,
.heading--h2 {
	font-size: 2.1875rem;
	@include breakpoint(small down) {
		font-size: rem-calc(20);
	}
}

h3,
.heading--h3 {
	font-size: 2rem;
	@include breakpoint(small down) {
		font-size: rem-calc(19);
	}
}

h4,
.heading--h4 {
	font-size: 1.8125rem;
	@include breakpoint(small down) {
		font-size: rem-calc(18);
	}
}

h5,
.heading--h5 {
	font-size: 1.5625rem;
	@include breakpoint(small down) {
		font-size: rem-calc(17);
	}
}

h6,
.heading--h6 {
	font-size: 1.25rem;
	@include breakpoint(small down) {
		font-size: rem-calc(16);
	}
}

div, dl, dt, dd, ul, ol, li, pre, form, blockquote, th, td {
	color: $text-color;
	font-size: $global-font-size;
	font-weight: $weight-bold;
	line-height: $global-line-height;

	@include breakpoint(small down) {
		font-size: $global-font-size-small;
	}
}


p,
.p {
	color: $text-color;
	font-size: $global-font-size;
	font-weight: $weight-normal;
	line-height: $global-font-size;
	margin-bottom: $global-margin-bottom;

	@include breakpoint(small down) {
		font-size: $global-font-size-small;
	}
}

strong,
b {
	color: $text-color;
	font-weight:  $weight-medium;
}

i,
em {
	font-style: italic;
}

img {
	display: block;
}


::selection {
	background: lighten($primary-color, 40%);
}

::-moz-selection {
	background: lighten($primary-color, 40%);
}

.wysiwyg {
	*:last-child {
		margin-bottom: 0;
	}
}

// 2 - Buttons
// ===========
button {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
}
.button {
	align-items: center;
	background-color: $primary-color;
	border-radius:3px;
	border: none;
    color: white;
    cursor: pointer;
	display: inline-flex;
	font-size: 1rem;
	justify-content: center;
	min-width: 180px;
	padding: 4px 15px;

	@include transitions();
	&:hover{
		background-color: darken($primary-color, 10%);
	}
	
	// Buttons inline
	& + .button{
		@include breakpoint(medium up) {
			margin-left: 5px;
		}
		@include breakpoint(small down) {
			margin-top: $global-margin-bottom;
		}
	}
	
	// Secondary button
	&--secondary {
		// blue
		background-color: $secondary-color;
		&:hover{
			background-color: darken($secondary-color, 10%);
		}
	}
	
	// White button
	&--white{
		background-color: white;
		color: $primary-color;
		&:hover{
			background-color: $primary-color;
			color: $white;
		}
	}
}


// 3 - Links
// =========
a {
    color: $primary-color;
	line-height: inherit;
	text-decoration: none;

	&.video {
		&:before {
			background-color: red;
			color: black;
			content: 'VIDEO CONTAINERS SHOULD NOT BE ANCHORS. Use divs instead.';
			display: block;
			font-size: 2rem;
			width: 300px;
		}
	}

	&[data-lightbox],
	&[data-lightbox-video] {
		&:before {
			background-color: red;
			color: black;
			content: 'LIGHTBOX TRIGGERS SHOULD NOT BE ANCHORS. Use a span or a button instead.';
			display: block;
			font-size: 2rem;
			width: 300px;
		}
	}
}

.link_alternative {
	$link: &;
	color: $secondary-color;
	cursor: pointer;
	display: inline-block;
	font-weight: $weight-bold;
	font-size: 1rem;
	position: relative;
	text-transform: uppercase;
	@include transitions();

	@include breakpoint(small down) {
		font-size: 0.9375rem;
	}

	&:hover,
	#{$link}__parent:hover &,
	.active & {
		@include breakpoint(medium up) {
			color: $primary-color;
		}
	}
}



// 4 - Lists
// =========
// Apply unstyled class to every html element that
// doesn't need to inherit the default style for lists (i.e. main menu)
ul:not(.unstyled) {
	margin-left: 20px;
	margin-bottom: $global-margin-bottom;

	li {
		font-size: rem-calc(15);
		line-height: $global-line-height;
		list-style-type: none;
		margin-bottom: 7px;
		position: relative;

		&::before {
			background: $secondary-color;
			border-radius: 100%;
			content: "";
			display: inline-block;
			height: 7px;
			position: absolute;
			left: -20px;
			top: 9px;
			width: 7px;
		}
	}
}

ol:not(.unstyled) {
  	counter-reset: ol-counter;
  	list-style: none;
	margin-bottom: $global-margin-bottom;
	margin-left: 20px;

	li {
		counter-increment: ol-counter;
		font-size: $global-font-size;
		line-height: $global-line-height;
		list-style-type: none;
		margin-bottom: 11px;
		position: relative;

		&::before {
			color: $secondary-color;
			content: counter(ol-counter) ". ";
			display: inline-block;
			font-weight: $weight-bold;
			font-size: 1.125rem;
			position: absolute;
			left: -20px;
			top: 2px;
		}
	}
}

// 5 - Blockquote
// ==============

blockquote:not(.unstyled) {
	border: 1px solid $border-color;
	font-style: italic;
	color: $text-color;
	font-size: $global-font-size;
	padding: 30px 25px;

	cite {
		font-weight: bold;
		color: $headings-color;
		margin-top: 10px;
		display: block;
	}
}

// 6 - Forms
// =========
input {
	padding: 0;
}
$placeholder-color: #A1A1A1;
input[type=text],
input[type=email],
input[type=search],
select,
textarea {
	-webkit-appearance: none;
	box-shadow: none;
	border: 1px solid $border-color;
	color: $text-color;
	height: 30px;
	margin-bottom: 15px;
	padding: 5px;
	width: 100%;
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color: $placeholder-color;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: $placeholder-color;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: $placeholder-color;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: $placeholder-color;
	}
	&::-ms-input-placeholder { /* Microsoft Edge */
	   color: $placeholder-color;
	}
}

textarea {
	min-height: 120px;
	resize: none;
}

select {
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none; 
	background-color: $white;
	border: 0;
	border: transparent;
	outline: 0;

	&::-ms-expand {
	    display: none;
	}
}

// Select Wrapper
.select_wrapper {
	margin: 0 auto 29px;
	max-width: 330px;
	position: relative;
	width: 100%;

	&__label {
		color: $primary-color;
		font-size: 1.1rem;
		font-weight: $weight-medium;
		margin-bottom: 10px;
		text-align: center;
	}

	&:after {
	    background-color: $light-grey;
	    color: #B8B9BB;
	    //@extend .icon-chevron-down:before;
	    display: block;
	    font-family: 'icomoon';
	    font-size: 0.9rem;
	    height: 30px;
	    line-height: 30px;
	    pointer-events: none;
	    position: absolute;
	    right: 1px;
	    top: 50%;
	    text-align: center;
	    transform: translate3D(0, -50%, 0);
	    width: 30px;
	}

	select {
	    background-color: $light-grey;
		border: 1px solid #E1E2E3;
		color: $headings-color;
		font-weight: $weight-medium;
		height: 54px;
		padding: 0 10px;
		width: 100%;

		option {
			background-color: transparent;
		}
	}

	&.select_wrapper--alternative {
		select {
			background-color: $background-2;
			color: $headings-color;
			font-weight: $weight-bold;
			text-transform: uppercase;
		}
		&:after {
			background-color: $background-2;
		}
	}
}

$forms-gutters: 20px;

.form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	&--centered {
		justify-content: center;
		text-align: center;

		.form__container {
			justify-content: center;
			text-align: center;
		}
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
	}

	&__thank_you_message {
		display: none;
	}

	&__error {
		color: red;
		display: none;
	}

	// Fields Wrappers
	&__field_wrapper {
		width: 100%;
	}

	&__field_wrapper--width-1 {
		width: 100%;
	}

	&__field_wrapper--width-1-2 {
		@include breakpoint(medium) {		
			width: calc(50% - #{$forms-gutters / 2});
			& + & {
				margin-left: $forms-gutters;
			}
		}
	}

	&__field_wrapper--width-1-3 {
		@include breakpoint(medium ) {
			width: calc((100% / 3) - #{$forms-gutters * 2 / 3});
			& + & {
				margin-left: $forms-gutters;
			}	
		}
	}

	// Checkbox
	&__field_wrapper--checkbox {
		width: 100%;

		.form__label {
			margin-bottom: 0;
		}
	}

	&__field--checkbox {
		margin-top: 8px;
	}

	&__checkbox_wrapper {
		cursor: pointer;		
		display: flex;
		flex-direction: row;
		margin-bottom: 15px;
		position: relative;
		
		input {
			opacity: 0;
			cursor: pointer;
			left: 0;
			position: absolute;
			top: 0;
		}
	}

	&__visible_checkbox {
		background: transparent;
		border:1px solid #d9d9d9;
		flex-shrink: 0;
        height: 14px;
        margin-right: 13px;
        position: relative;
        top: 8px;
        width: 14px;
		
		// The style below is for the custom checkbox icon
		&:after {
			//@extend .flaticon-checked:before;
			background-color: $primary-color;
			content: '';
		    display: none;
		    font-family: 'flaticon';
		    font-size: .68rem;
		    height: 10px;
	        left: .5px;
			position: absolute;
	        top: 1px;
	        width: 10px;

	        .form__checkbox_wrapper input:checked ~ & {
				display: block;
			}
		}
	}
}


// 7 - Images
// ============================================================
.cover_image {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	
	img {
		display: block;
		height: 100%;
		object-fit: cover;
		@include transitions();
		width: 100%;
	}

	.img {
		background-size: cover;
		background-position: center;
		height: 100%;
		width: 100%;
		@include transitions();
	}

	a:hover & img,
	&--link:hover img {
		cursor: pointer;
		transform: scale(1.1);
	}
}

.contain_image {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	
	img {
		height: 100%;
		object-fit: contain;
		@include transitions();
		width: 100%;
	}

	.img {
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		@include transitions();
	}

	a:hover & img,
	&--link:hover img {
		cursor: pointer;
		transform: scale(1.1);
	}
}

.main_container {
	img[width] {
		@include breakpoint(medium up) {
			float: right;
			height: auto!important;
			margin: 20px 0 20px 20px;
			max-width: 100%;
			width: 50%!important;			
		}

		@include breakpoint(small down) {
			height: 100%!important;
			max-width: 100%;
			margin: 20px 0;
			width: 100%!important;			
		}
	}
}


// 8 - Tables
// ============
table {
	border-radius: 2px;
	margin-bottom: 40px;
	margin-top: 40px;
	overflow: hidden;
	width: 100%;

	thead {
		background-color: $primary-color;
	}

	tbody {
		tr {
			&:nth-child(even) {
	    		background-color: $border-color;
	    	}
	    }
	}

	th {
		color: $white;
		font-weight: $weight-bold;
		font-size: 1.125rem;
		min-height: 45px;
		padding-bottom: 12px;
		padding-top: 12px;
		padding-right: 20px;
    	text-align: left;
    	white-space: pre;

    	&:first-child {
			padding-left: 25px;
    	}
	}

	td {
		color: $text-color;
		font-size: 1rem;
		font-weight: $weight-normal;
		padding: 8px 20px 8px 0;


		@include breakpoint( small down ) {
			padding-left: 25px;
		}

		&:first-child {
			padding-left: 25px;
		}
	}

	@include breakpoint( small down ) {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tbody {
			tr {
				&:nth-child(even) {
		    		background-color: rgba($border-color, .4);
		    	}
		    }
		}
		
		tr {
			border: 1px solid $border-color;
			display: flex;
			flex-direction: column;
		}
		
		td { 
			border: none;
			border-bottom: 1px solid $border-color; 
			position: relative;
		}

		td::before {
			content: attr(data-name);
			display: block;
			font-weight: $weight-medium;
		}
	}
}

// 9 - Video
// ===========================
.video {
	cursor: pointer;
	position: relative;

	&:not(.unstyled) {
		align-items: center;
		display: flex;
		justify-content: center;
		height: 340px;
		overflow: hidden;
	}

	&:not(.video--playing):before {
		//@extend .icon-play:before;
		align-items: center;
		background-color: $headings-color;
		border-radius: 50%;
		color: $white;
		cursor: pointer;
		display: flex;
		font-family: icomoon;
		font-size: 3.5em;
		height: .9em;
		justify-content: center;
		left: 50%;
		line-height: 1;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
		width: .9em;
		z-index: 10;
		@include transitions();

		@include breakpoint(medium down) {
			font-size: 2.65em;
		}
	}
	
	// For zoom in effect
	&:hover {
		cursor: pointer;
		
		img {
			transform: scale(1.1);
		}
		
		&::before {
			background-color: $primary-color;
			box-shadow: 0 0 3px 0 rgba(0,0,0, .02);
		}
	}

	&__container {
		width: 100%;
	}

	img {
		@include transitions();
	}

	&__image {
		width: 100%;
		
		&:not(.cover_image) {
			img {
				display: block;
				max-width: 100%;
			}
		}
	}

	// Playing
	&--playing {
		.video__container {
			height: 0;
			padding-bottom: 56.1797752809%;
			position: relative;
			width: 100%;
		}
	}

	&--iframe {
        .video__container {
            height: 0;
            padding-bottom: 56.1797752809%;
            position: relative;
            width: 100%;
        }

        .video__image {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

	iframe {
		display: none;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

// 10 - Sidebars
// ===========================
$sidebar-font-size:  .8125rem;

.sidebar {
	&__heading {
		align-items: center;
		color: $text-color;
		display: flex;
		font-weight: $weight-bold;
		font-size: 1rem;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.container {
		@include breakpoint( large ) {
			// Resetting paddings of the container for large up
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// 11 - Blocks
// ===========================
.block {
	&--global_spacings {
		@include breakpoint(medium only) {		
			padding-bottom: $blocks-padding-medium;
			padding-top: $blocks-padding-medium;
		}
		@include breakpoint(small down) {		
			padding-bottom: $blocks-padding-small;
			padding-top: $blocks-padding-small;
		}
	}
}