<% var block = options.block %>
<%- block._editable %>

<div class="template_table_of_contents">
	<div class="container">
		<div class="template_table_of_contents__items">
			<% plugins.stories({ order_by: 'position', sort: 'asc', where: story => story.original_url == `${page.original_url}${story.slug}/`, context: page.original_url }, story => {%>
			    <a class="template_table_of_contents__item" href="<%- story.url %>">
			        <div class="template_table_of_contents__item__image" style="background-image: url(<%- plugins.imgix(story.data.preview_image || site.settings.banner_fallback_image, { q: 60, w: 800, fm: 'jpg' }) %>)">
			        </div>
			        <h4 class="template_table_of_contents__item__name"><%= story.title %></h4>
			    </a>
			<% }) %>
		</div>
	</div>
</div>