<div class="examples_load_more">
	<div class="container">
		<h2>Latest News</h2>
		<div class="examples_load_more__stories">
			<script>
				document.currentScript.loadMoreSettings = {
					token: '<%- Buffer.from(site.config.storyblok.api_token).toString('base64') %>',
					space_id: <%- site.config.storyblok.space_id %>,
					component: 'News Module',
					order_by: 'published_at',
					sort: 'desc',
					limit: 3,
					template: function(story) { return `
						<div><a href="/${story.full_slug.replace(/\/$/, '')}/">${story.name}</a></div>
					` },
					no_results: function() { return `
						<div class="no_results">
							<p>Sorry, we couldn't find any entries in our database.</p>
						</div>
					` },
					load_more: function(data_attribute) { return `
						<a href="#" class="button" ${data_attribute}>Load More</a>
					` }
				};
			</script>
		</div>
	</div>
</div>